{% extends 'baseHome.html.twig' %}

{% block title %} Jeux . Fr{% endblock %}

{% block body %}
<div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Jeux</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">Créer</a>
    </div>
    
  </div>

  <div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Joueurs</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">Créer</a>
    </div>
    
  </div>

  <div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Parties</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Créer</a>
    </div>
    
  </div>
{% endblock %}
